
html{
    font-size: 16px;
    /*valor padrão do navegador*/
}

*{
    box-sizing: border-box;
}

body {
    margin: 10px;
    background-color: #f3f1f1;

}
button{
    padding: 10px;
    font-size: 15px;
    background-color: #EEE;
    border: 1px solid #CCC;
}
button:hover{
    background-color: #CCC;
}
#search{
    width: 200px;
    height: 50px;
    /*degrade com linear-gradient*/
    background: linear-gradient(950deg, white, blue, red, rgb(106, 106, 184));
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type=text], input[type=email], 
input[type=password], 
input[type=datetime-local],
input[type=number],
textarea,
select{
    padding : 10px;
    /*width: 200px;*/
    font-size: 100%;
    border: 1px solid #CCC;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 5px 5px 4px #888;
    border: #c2c2d3 1px solid;
    outline: 0;
    margin-top: 5px;
}
textarea{
    width: 200px;
    height: 50px;
    resize: none;/* não permite redimensionar o textarea */
}
label {
    display: block;
    margin-top: 10px;/* margem entre o label e o input */
    width: 100px;
}

#animation{
    width: 200px;
    height: 50px;
    /*degrade com linear-gradient*/
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    /*animation: animation 10s infinite*/
    animation-name: animation;
    animation-duration: 10s;
    animation-iteration-count: 1;
}

@keyframes animation {
    0%{
        background-color: white; top:0 ; left: 0; width: 300px; height: 50px;
    }
    25%{
        background-color: blue; top: 0; left: 90%; width: 200px; height: 100px;
    }
    50%{
        background-color: red; top: 100px; left: 90%; width: 300px; height: 50px;
    }
    75%{
        background-color: rgb(106, 106, 184); top: 100px; left: 0; width: 200px; height: 100px;
    }
    100%{
        background-color: white; top:0 ; left: 0;
    }
}
jhon{
    width: 100px;
    height: 50px;
    background-color: #EEE;
    border: 1px solid #CCC;
    padding: 10px;
    font-size: 15px;
    background-color: #EEE;
    border: 1px solid #CCC;
    display: inline-block;
    /*transação de 0.5s*/
    transition: all 1s linear;
    word-wrap: break-word;
}
jhon:hover{
    background-color: #8065c0;
    width: 200px;
    height: 50px;
    color : white;
}